<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="BankId.Merchant.MerchantID" value="1234567890" />
    <add key="BankId.Merchant.SubID" value="0" />
    <add key="BankId.Merchant.ReturnUrl" value="http://example.com" />

    <add key="BankId.Merchant.AcquirerID" value="42" />
    <add key="BankId.Acquirer.DirectoryUrl" value="http://bvn-idin-acquirer-dummy.azurewebsites.net/?id=DirectoryResponse-OK-1" />
    <add key="BankId.Acquirer.TransactionUrl" value="http://bvn-idin-acquirer-dummy.azurewebsites.net/?id=TransactionResponse-OK-1" />
    <add key="BankId.Acquirer.StatusUrl" value="http://bvn-idin-acquirer-dummy.azurewebsites.net/?id=StatusResponse-OK-1" />

    <add key="BankId.Merchant.Certificate.Fingerprint" value="824e7fa642552aed15dde42b6f4df856d7622d21" />
    <add key="BankId.RoutingService.Certificate.Fingerprint" value="037084cee001b2f8f658d822ee5ea0a076a184e9" />
    <add key="BankId.RoutingService.AlternateCertificate.Fingerprint" value="" />
    <add key="BankId.SAML.Certificate.Fingerprint" value="824e7fa642552aed15dde42b6f4df856d7622d21" />

    <add key="BankId.ServiceLogs.Enabled" value="true" />
    <add key="BankId.ServiceLogs.Location" value="D:\home\site\wwwroot\ServiceLogs" />
    <add key="BankId.ServiceLogs.Pattern" value="%Y-%M-%D\%h%m%s.%f-%a.xml" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="App_Data\XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>