<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="BankId.Merchant.MerchantID" value="" />
    <add key="BankId.Merchant.SubID" value="" />
    <add key="BankId.Merchant.ReturnUrl" value="" />

    <add key="BankId.Merchant.AcquirerID" value="" />
    <add key="BankId.Acquirer.DirectoryUrl" value="" />
    <add key="BankId.Acquirer.TransactionUrl" value="" />
    <add key="BankId.Acquirer.StatusUrl" value="" />

    <add key="BankId.Merchant.Certificate.Fingerprint" value="" />
    <add key="BankId.RoutingService.Certificate.Fingerprint" value="" />
    <add key="BankId.RoutingService.AlternateCertificate.Fingerprint" value="" />
    <add key="BankId.SAML.Certificate.Fingerprint" value="" />

    <add key="BankId.ServiceLogs.Enabled" value="true" />
    <add key="BankId.ServiceLogs.Location" value="ServiceLogs" />
    <add key="BankId.ServiceLogs.Pattern" value="%Y-%M-%D\%h%m%s.%f-%a.xml" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="App_Data\XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>